page-weather {
    .bg-image {
        background-image: url('../../assets/imgs/sky.png');
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: center;
    }

}
